.follower-list {
  border-radius: 4px;
  height: 80%;
  margin: 12px 12px 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  //隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}

.user-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 12px;
  width: 100%;

  &:hover {
    background: #f9f9fa;
    border-radius: 4px;

    .delete-btn {
      display: flex !important;
    }
  }
}

.user-avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  flex-shrink: 0;
}

.user-detail {
  display: flex;
  flex-direction: column;
  height: 58px;
  margin-left: 16px;
  justify-content: space-between;
  width: calc(100% - 66px);

  .user-info {
    display: flex;
    align-items: center;
    width: 100%;

    .user-name {
      color: #252632;
      font-size: 14px;
      font-weight: 500;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .delete-btn {
      border-radius: 4px;
      border-radius: var(--semi-border-radius-semi-border-radius-small, 4px);
      color: rgba(37, 38, 50, 0.6);
      cursor: pointer;
      display: none;
      flex: 0 0 auto;
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      margin-left: auto;
    }
  }

  @media only screen and (max-width: 1280px) {
    .user-dtats {
      grid-template-columns: 1fr 0 0;
      overflow: hidden;
    }
  }
  .user-stats {
    display: grid;
    font-weight: 400;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 2px;
    color: rgba(37, 38, 50, 0.8);
    line-height: 18px;

    .number {
      color: rgba(37, 38, 50, 0.8);
      line-height: 18px;
      font-weight: 600;
      text-align: right;

      &.new {
        color: #ff2c55;
      }
    }
    // .user-fans {
    // }
    // .user-works {
    // }

    .line {
      background: #f2f2f4;
      height: 100%;
      margin: 0 12px;
      width: 1px;
    }
    .user-yesterday {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      white-space: nowrap;
    }

    .user-fans,
    .user-works,
    .user-yesterday {
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .user-stats {
    grid-template-columns: 1fr 0 0 !important;
    overflow: hidden;
  }
}
