.container {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  display: flex;

  .title {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: rgba(28, 31, 35, 0.9);
    margin-bottom: 16px;
    font-weight: 600;
  }
}

.table-semi {
  width: 100%;
  font-size: 14px;
  line-height: 20px;

  :global(.semi-table-row-head) {
    background-color: rgba(46, 50, 56, 0.05) !important;
    border-bottom: 1px solid #f2f2f4 !important;
  }
}

.custom-head {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.avatar {
  margin: 16px;
  width: 80px;
  height: 80px;
}
.button-modal {
  margin: 40px 0 16px;

  button + button {
    margin-left: 10px;
  }
  button {
    width: 120px;
    border-radius: 2px;
  }
}

.modal-following {
  :global(.semi-modal-body) {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  p {
    line-height: 22px;
    font-size: 16px;
    color: #161823;
    font-family: 'PingFang SC';
  }

  :global(.semi-modal-confirm-content) {
    margin: 24px 0;
  }
}
