.mix-sel-wrap {
  color: #161823;

  .title-mix-add {
    margin: 24px 0 4px;
    position: relative;
  }

  .select-mix-type {
    width: 104px;
    margin-right: 12px;
  }
  .select-collection {
    width: 436px;
  }
}
.title-main {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #404346;
  margin: 0;
}
